---
import { Image } from "astro:assets";

type Props = {
  title: string;
  url?: string;
  videoUrl?: string;
  imageUrl?: string;
  loading?: "lazy" | "eager";
};

const { title, url, imageUrl, videoUrl, loading = "lazy" } = Astro.props;
---

<div>
  {
    imageUrl && (
      <Image
        src={imageUrl}
        width={1000}
        height={562}
        alt={`${title} project`}
        loading={loading}
      />
    )
  }
  {
    videoUrl && (
      <video width="1000" height="562" autoplay loop muted playsinline>
        <source src={videoUrl} type="video/mp4" />
      </video>
    )
  }
  <h3 class="text-xl md:text-3xl mt-8 mb-4">
    {
      url ? (
        <a href={url} target="_blank" rel="noreferrer">
          {title}
        </a>
      ) : (
        <>{title}</>
      )
    }
  </h3>
  <p class="mb-4"><slot /></p>
</div>
