---
import { Image } from "@astrojs/image/components";

interface BaseProps {
  title: string;
  url?: string;
  skills?: string[];
}
interface VideoProps extends BaseProps {
  videoUrl: string;
}
interface ImageProps extends BaseProps {
  imageUrl: string;
}

export type Props = VideoProps | ImageProps;

const { imageUrl, videoUrl, title, skills, url } = Astro.props;
---

<div>
  {
    imageUrl && (
      <Image
        src={imageUrl}
        width={1000}
        height={562}
        alt={`${title} project image`}
      />
    )
  }
  {
    videoUrl && (
      <video width="1000" height="562" autoplay loop muted playsinline>
        <source src={videoUrl} type="video/mp4" />
      </video>
    )
  }
  <h3 class="text-xl md:text-3xl mt-8 mb-4">
    {
      url ? (
        <a href={url} target="_blank" rel="noreferrer">
          {title}
        </a>
      ) : (
        <>{title}</>
      )
    }
  </h3>
  <p class="mb-4"><slot /></p>
</div>
